.full_container{
  margin-left: 6.25%;
  width: 87.5%;
}

.description {
  display: flex;
  margin-top: 76px;
  margin-bottom: 76px;
}

.direction{
  font-family: 'Montserrat';
  width: 484px;
  height: 376px;
  border-radius: 25px;
  background: linear-gradient(180deg, #1B00C4 61.46%, rgba(0, 121, 196, 0) 100%);
}

.direction img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 484px;
  height: 287px;
}

.name {
  font-family: 'Montserrat';
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 28px;
}

.name p {
    margin: 0 auto;
}

.intro_text{
  font-family: 'Montserrat';
  font-weight: 500;
  width: 65%;
  padding: 3%;
  font-size: 28px;
  border-radius: 10px;
  background: #F4F4F4;
  text-align: center;
  margin-left: 5%;
}

.intro_text p {
    self-align: center;
}

.dc_and_comp{
  display:flex;
  align-items:center;
  margin-bottom: 46px;
}

.disciplines{
  font-family: 'Montserrat';
  font-size: 36px;
  border-radius: 20px;
  background: #4382CD;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #FFFFFF;
  font-weight: 500;
  border: 2px solid black;
  width: 64%;
}

.companies{
  font-family: 'Montserrat';
  font-size: 36px;
  border-radius: 20px;
  background: #4382CD;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #FFFFFF;
  font-weight: 500;
  margin-left: auto;
  border: 2px solid black;
  width: 32%;
}

.container_block{
  display: flex;
  height: 174px;
  margin-bottom: 12px;
}

.subject_block{
  width: 60.2%;
  display: flex;

  font-family: 'Montserrat';
  font-size: 36px;
  border-radius: 20px;
  background: #BDD5F0;
  text-align: center;
  padding: 2%;
}

.subject_block p {
  width: 72%;
}

.percents{
  width: 15%;
  height: 76px;
  border-radius: 20px;
  color:white;
  background: #4382CD;
  text-align: center;
  padding-top: 31px;
  margin-left: auto;
  margin-right: 1%;
}
.companies_block{
  width: 32.2%;
  margin-left: auto;
  border-radius: 20px;
}

.companies_block select {
    text-transform: uppercase;
    color:white;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    font-size: 36;
    font-weight: 500;
    font-family: 'Montserrat';
    background: #83ADDA;
}

.vote_field {
  border-radius: 20px;
  color:white;
  background: #4382CD;
  width: 11%;
}

.vote_field_label {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    left: -100vw;
}

.box_image {
    width: 80%;
    height: 82%;
    object-fit: cover;
    margin-top: 8.2%;
}
