body, html { 
    width: 100%;
    height: 100%;
}

body {
  background: url("../img/background.png");
}

header {
  width: 100%;
  height: 8%;
}

section {
  width: 100%;
  height: 92%;
}

.login_form {
  /* Vertical alignment */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 50%;
  height: 65%;
  margin: auto auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 24px;
  
  /* My version */
  /* background: radial-gradient(#FFFFFF, #9FE8FF);  */
  /* Figma version */
  background: linear-gradient(270deg, rgba(168, 234, 255, 0.9) -1%, rgba(187, 239, 255, 0.9) 18.99%, rgba(255, 255, 255, 0.9) 35.82%, rgba(249, 249, 249, 0.9) 59.49%, rgba(184, 238, 255, 0.9) 81.59%, rgba(159, 232, 255, 0.9) 99.98%);

}


.input-data-field {
  width: 65%;
  height: 10%;

  background: #FFF;
  border-radius: 10px;

  margin: 0 auto;
  margin-bottom: 6%;

  font-size: 30px;
}

.owl_logo {
  margin: 5%;
}

.signin_button {
  width: 24%;
  height: 10%;
  margin: 0 auto;
  
  font-size: 30px;
 
  text-align: center;

  background: #0043CC;

  border-radius: 10px;
  transition-duration: 0.1s;

  color: #FFFFFF;

  border: none;

  text-decoration: none;
  text-transform: uppercase;
  margin: 10px auto;
}

.signin_button:hover {
  width: 25%;
  height: 10.5%;  
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 8.5px auto;
  font-size: 31.5px;
}

.signin_ref {
  display: block;
  margin-top: 7%;
}

.signup_button {
  font-size: 24px;
  
  margin-top: 1%;
}

.signup_button a {
  color: #0043CC;
  
  text-decoration: underline;

  text-align: center;
  transition-duration: 0.1s;
}

.signup_button a:hover {
  text-decoration: bold;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

input:invalid {
  border-color: red;
}

input:required:valid {
  border-color: #0043CC;
}