body {
  background: url("../img/background.png")
}

.motto {
  text-align: center;
  margin-top: 815px;
  margin-bottom: 0px;

  font-size: 36px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #0079C4;
  text-transform: uppercase;
}