{% extends "website/base.html" %}
{% load static %}
{% load divide %}
{% load cache %}

{% block head %}
    <link href="{% static 'css/direction_page.css' %}" rel="stylesheet" type="text/css" />
    <title>{{ direction.name }}</title>
{% endblock %}

{% block page %}
    <div class = "full_container">
        <div class="description">
            <div class="direction">
                <img src="{{ direction.img.url }}">
                <div class="name">
                    <p>{{ direction.name }}</p>
                </div>
            </div>
            <div class = "intro_text">
                <p>{{ direction.description }}</p>
            </div>
        </div>
        <div class = "dc_and_comp">
            <div class="disciplines"> Дисциплины, изучаемые на данном направлении: </div>
            <div class="companies"> Компании </div>
        </div>
        {% for discipline in direction.disciplines.all %}
            <div class = "container_block">
                <div class = "subject_block"> <p>{{ discipline.name }}</p>
                    <div id="discp_{{ discipline.pk }}" class="percents">
                        <!--Filled in AJAX-->
                    </div>
                    {% if user.is_authenticated %}
                        <div class="vote_field">
                            <input type="checkbox" id="{{ discipline.name }}_box" class="visually-hidden"
                            {% if discipline in votes %}
                            checked
                            {% endif %}
                            >
                            <label class="vote_field_label" for="{{ discipline.name }}_box">
                                <img class="box_image" id="{{ discipline.name }}_box_image"
                                {% if discipline in votes %}
                                src="{% static 'img/check_box_on.png' %}"
                                {% else %}
                                src="{% static 'img/check_box_off.jpg' %}"
                                {% endif %}
                                >
                            </label>


                        </div>
                    {% endif %}
                </div>
                <div class = "companies_block">
                    <select id="dis_com_{{ discipline.id }}">
                    <!--Filled in AJAX-->
                    </select>
                </div>
            </div>
        {% endfor %}
    </div>>
    <script>
        let votes_url = "http://127.0.0.1:8000/api/votes";
        let companies_url = "http://127.0.0.1:8000/api/votes/companies";

        // Updates percents statistics
        async function updateStatistics() {
            let req_url = votes_url + "?pk=" + {{ direction.pk }};
            // Sending request to the server and getting json as a response
            response = await fetch(req_url, {
                method: 'GET',
                credentials: 'include',
            });

            let json_data = await response.json();

            for(item in json_data){
                let perc_tag = document.getElementById("discp_" + json_data[item]["id"]);  // Getting percents cell

                perc_tag.innerText = json_data[item]["percents"] + "%"  // Setting updated statistics
            }

        }
        // Updates lists of voted companies
        async function updateVotedCompanies() {
            let req_url = companies_url + "?pk=" + {{ direction.pk }};
            // Sending request to the server and getting json as a response
            response = await fetch(req_url, {
                method: 'GET',
                credentials: 'include',
            });

            let json_data = await response.json();

            for(item in json_data){
                // Getting company list tag by id
                let comp_list_tag = document.getElementById("dis_com_" + json_data[item]["id"]);

                let sel_text = "";  // Filling for select tag
                for(i in json_data[item]["companies_name"]){
                    sel_text += "<option>" + json_data[item]["companies_name"][i] + "</option>";
                }
                comp_list_tag.innerHTML = sel_text; // Setting updated company list
            };
        }
        function getCookie(name) {
          let matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
          ));
          return matches ? decodeURIComponent(matches[1]) : undefined;
        }
        // Controls checkbox switching
        async function onChange(event) {
            const { target } = event;  // Getting clicked checkbox

            let targ_ch_box = target
            let response;

            let ch_box_splt = targ_ch_box.id.split("_"); // Splitting checkbox id

            let req_data = {
                direction_id: {{ direction.pk }},
                discipline_name: ch_box_splt[0],
            }   // Forming request data

            csrf_token = getCookie("csrftoken")

            if (targ_ch_box.checked) {
                // Sending post request for adding new vote
                document.getElementById(targ_ch_box.id + "_image").src = "{% static 'img/check_box_on.png' %}"
                response = await fetch(votes_url, {
                    method: 'POST',
                    credentials: 'include',
                    body: JSON.stringify(req_data),
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrf_token
                    },
                });
            } else {
                // Sending delete request for deleting current company vote
                document.getElementById(targ_ch_box.id + "_image").src = "{% static 'img/check_box_off.jpg' %}"
                response = await fetch(votes_url, {
                    method: 'DELETE',
                    credentials: 'include',
                    body: JSON.stringify(req_data),
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrf_token
                    },
                });
            }
            if (response.ok) {
                await updateStatistics();
                await updateVotedCompanies();
            }
        }

        {% if user.is_authenticated %}
        // Subscripting event handlers on checkboxes change state event
        {% for discipline in direction.disciplines.all %}
            tCheckBox = document.getElementById('{{ discipline.name }}_box');
            tCheckBox.addEventListener('change', onChange);
        {% endfor %}
        {% endif %}

        // Refreshes statistics and voted companies lists every second
        setInterval(function() {
            updateStatistics();
            updateVotedCompanies();
        }, 1000);
    </script>
{% endblock %}