{% extends "website/base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'css/about_page.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page %}
    <section class = "sections">
      <div class = "container_section">
        <div class = "text">
          <p><b>Янус</b> - проект, который улучшает сотрудничество бизнеса и высшего              образования</p>
          <p>Данный проект разработан для университета МИЭТ с целью его развития</p>
        </div>
        <img src="{% static 'img/miet_owl.png' %}" width="350" height="330" class = "img_logo" >
      </div>
      <div class = "container_section blue_cls">
        <div class = "text">
        <h1>Зачем это универститету?</h1>
        <p> Данный проект поможет университету легче ориентироваться в рынке профессии и подготавливать наилучших специалистов в конкретной области, востребованных и готовых к современным реалиям.</p>
        </div>
      </div>
      <div class = "container_section">
        <div class = "text">
       <!-- <h2>Зачем это компаниям?</h2>  и настроить этот h2, он всё равно общий для всех-->
        <h1>Зачем это компаниям?</h1>
        <p> Данный проект разработан для университета МИЭТ с целью его развития. С помощью него стало возможным встраивать коммуникацию между университетом и компаниями, для того чтобы вторые могли корректировать образовательную программу под свои нужды, предпочтения. </p>
        </div>
      </div>
    </section>
{% endblock %}