{% extends "website/base.html" %}
{% load static %}
{% load index %}

{% block head %}
    <link href="{% static 'css/directions_page.css' %}" rel="stylesheet" type="text/css" />
    <title>Направления</title>
{% endblock %}


{% block page %}
<section>
    {% for direction in directions %}

        {% if forloop.counter0|divisibleby:"3" %}
            {% if forloop.counter0 != 0%}
                </div>
            {% endif %}
            <div class="dir_box_row">
        {% endif %}
        <div class="dir_box {{ gradient_lst|index:forloop.counter0 }}">
          <a href="{% url 'direction_page' direction.pk %}">
            <img src="{% get_static_prefix %}img/{{ direction.img_path }}">
          </a>
          <div class="dir_name">
            <a href="{% url 'direction_page' direction.pk %}">{{ direction.name }}</a>
          </div>
        </div>
    {% endfor %}
            </div>
</section>
{% endblock %}

{% block footer %}
{% endblock %}