{% extends "website/base.html" %}
{% load static %}
{% load divide %}

{% block head %}
    <link href="{% static 'css/direction_page.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page %}
    <div class = "full_container">
      <div class="direction">
          <img src="{{ direction.img.url }}">
        <div class="name">{{ direction.name }}</div>
      </div>
      <div class = "intro_text">{{ direction.description }}</div>
      <div class = "dc_and_comp">
        <div class="disciplines"> Дисциплины, изучаемые на данном направлении: </div>
        <div class="companies"> Компании </div>
      </div>
      {% for discipline in direction.disciplines.all %}
          <div class = "container_block">
            <div class = "subject_block"> <p>{{ discipline.name }}</p>
                <div class="percents">{{ discipline.vote_set.all|length|divide:unique_votes_count }}%</div>
            </div>
            <div class = "companies_block">
                <select>
                    {% for vote in discipline.vote_set.all %}
                        <option>{{ vote.company.user.username }}</option>
                    {% endfor %}
                </select>
            </div>
          </div>
      {% endfor %}
    </div>
{% endblock %}